*{
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(37, 36, 36);
    word-spacing: 5px;
}
h1,h2{
    color: brown;
}
img{
    width: 80%;
    padding: 0 10% 0 10%;
}
section{
    background-color: rgba(221, 88, 88, 0.712);
    padding: 10px;
    border-radius: 10px;
}